
<div class="main">
  <table class="table table-striped table-responsive-md btn-table">
    <thead>
      <tr>
        <th><input type="number" placeholder="ID"  #idInput min=0 oninput="validity.valid"   (keydown.enter)="getOneCoupon(idInput.value)">
          <button (click)='ngOnInit()'>Reset</button>
         </th>
        <th><div class="btn-group">
          <button type="button" class="btn btn-a  btn-round dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Category
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" (click)='getByCategory("food")'>food</a>
            <a class="dropdown-item" (click)='getByCategory("electronics")'>electronics</a>
            <a class="dropdown-item" (click)='getByCategory("restaurant")'>restaurant</a>
            <a class="dropdown-item" (click)='getByCategory("vacation")'>vacation</a>
            <a class="dropdown-item" (click)='getByCategory("gaming")'>gaming</a>
            <a class="dropdown-item" (click)='getByCategory("cloths")'>cloths</a>
            <a class="dropdown-item" (click)='ngOnInit()'>All</a>
            <div class="dropdown-divider"></div>
            
          </div>
        </div></th>
        <th>title</th>
        <th>description</th>
        <th>startDate</th>
        <th>endDate</th>
        <th>amount</th>
        <th><input type="number" placeholder="Price" min=0 oninput="validity.valid||(value='');"  #priceInput   (keydown.enter)="getByPrice(priceInput.value)">
         <button (click)='ngOnInit()'>Reset</button>
        </th>
        <th>image</th>
        <button
        type="button"
        class="btn btn-success btn-round"
        (click)='addCoupon()'
      > <img src="../../../assets/img/add_circle-24px.svg" title="add">
    </button>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let coup of getCoupons()">
        <td>{{ coup.id }}</td>
        <td>{{ coup.category }}</td>
        <td>{{ coup.title }}</td>
        <td>{{ coup.description }}</td>
        <td>{{ coup.startDate }}</td>
        <td>{{ coup.endDate }}</td>
        <td>{{ coup.amount }}</td>
        <td>{{ coup.price }}</td>
        <td><img class="coupImg" src="{{ coup.image }}"></td>
        <button
          type="button"
          class="btn btn-warning btn-round"
          (click)='update(coup)'
          ><img src="../../../assets/img/create-24px.svg" title="Edit">

      </button>
      <button type="button" class="btn btn-danger btn-round" (click)='delete(coup)'>
        <img src="../../../assets/img/delete_forever-24px.svg" title="Delete">
     </button>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-success  btn-round" (click)="showDetails()">Show details</button>
</div>
  